<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/games">
        Index
      </a>
      <a class="navbar-brand" href="/games/new">New Game</a>
    </div>
  </div>
</nav>
