<h1 class="text-center">Games Index</h1>
<ul class="list-group">
  <% @games.each do |game| %>
    <li class="list-group-item">
      <h1><a href="/games/<%= game[:id] %>"><%= game[:title] %></a>
      </h1>
      <h4><%= game[:year] %></h4>
      <h6><%= game[:dev] %></h6>
    </li>
  <% end %>
</ul>
